        <div class="card employeeCard col-md-3 ml-4 mr-4 pl-0 pr-0 mt-5" style="box-shadow: 10px 10px 5px grey">
          <div class="card-header pl-3" style="width: 100%; background-color: red; color: white;">
            <h2>{{ name }}</h3>
            <h3>{{ role }}</h4>
          </div>
          <ul class="list-group m-3 mb-4 mt-4">
            <span class="border-top"></span>
            <li class="list-group-item pl-3">ID: {{ id }}</li>
            <li class="list-group-item pl-3">E-mail: {{ email }}</li>
            <li class="list-group-item pl-3">Office Number: {{ officeNumber }}</li>
          </ul>
        </div> 
